USE [master]
GO
/****** Object:  Database [BUDGETBOSS]    Script Date: 19/06/2024 15:44:55 ******/
CREATE DATABASE [BUDGETBOSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BUDGETBOSS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BUDGETBOSS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BUDGETBOSS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BUDGETBOSS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BUDGETBOSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BUDGETBOSS]
GO
/****** Object:  Table [dbo].[Caixa]    Script Date: 19/06/2024 15:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caixa](
	[Codigo_Caixa] [int] IDENTITY(1,1) NOT NULL,
	[Data_Caixa] [date] NOT NULL,
	[Saldo_Caixa] [decimal](10, 2) NOT NULL,
	[Estado_Caixa] [varchar](20) NULL,
 CONSTRAINT [PK_Caixa] PRIMARY KEY CLUSTERED 
(
	[Codigo_Caixa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimentacao]    Script Date: 19/06/2024 15:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentacao](
	[Codigo_Movimentacao] [int] IDENTITY(1,1) NOT NULL,
	[Vendedor_Movimentacao] [varchar](20) NOT NULL,
	[TipoEntrada_Movimentacao] [varchar](20) NOT NULL,
	[FormaPagamento_Movimentacao] [varchar](20) NOT NULL,
	[Valor_Movimentacao] [decimal](10, 2) NOT NULL,
	[Data_Movimentacao] [date] NOT NULL,
	[Codigo_Caixa] [int] NULL,
	[Codigo_Usuario] [int] NULL,
 CONSTRAINT [PK_Movimentacao] PRIMARY KEY CLUSTERED 
(
	[Codigo_Movimentacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/06/2024 15:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Codigo_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Login_Usuario] [varchar](20) NOT NULL,
	[Senha_Usuario] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Codigo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacao_Caixa] FOREIGN KEY([Codigo_Caixa])
REFERENCES [dbo].[Caixa] ([Codigo_Caixa])
GO
ALTER TABLE [dbo].[Movimentacao] CHECK CONSTRAINT [FK_Movimentacao_Caixa]
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacao_Usuario] FOREIGN KEY([Codigo_Usuario])
REFERENCES [dbo].[Usuario] ([Codigo_Usuario])
GO
ALTER TABLE [dbo].[Movimentacao] CHECK CONSTRAINT [FK_Movimentacao_Usuario]
GO
USE [master]
GO
